@media screen and (min-width: 800px) {
  body {
    width: 100vw;
    margin: auto;
  }
}

body {
  font-family: "Archivo", sans-serif;
}

/* THE EVENTSLIST IS A SINGLE-COLUMN GRID */
#eventslist {
  display: grid;
}

button {
  border: 4px solid tomato;
  color: tomato;
  font-weight: 700;
  font-size: 1.2em;
  background-color: transparent;
  border-radius: 25px;
  transition: all 0.5s;
}

button:hover {
  background-color: tomato;
  color: white;
}

/* EACH BLOCK IS A GRID */

.event-article {
  display: grid;
  grid-template-columns: 40vmin 1fr 1fr;
  grid-template-rows: 12vmin 5vmin 5vmin 5vmin;
  grid-row-gap: 2vmin;
  grid-column-gap: 2vmin;
  align-items: center;
  justify-items: start;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
  border-bottom: 0.5vmin solid tomato;

  grid-template-areas:
    "img name name"
    "img category category"
    "img venue date"
    "admission see-info buy-ticket";
}

.img-div {
  grid-area: img;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.event-name {
  grid-area: name;
  overflow: hidden;
  font-size: 4vw;
  margin-left: 1vmin;
}

h2 {
}

.event-category {
  grid-area: category;
  color: tomato;
  font-size: 3.5vw;
  margin-left: 1vmin;
}
h3 {
}

.event-venue {
  grid-area: venue;
  overflow: hidden;
  font-size: 3vw;
  margin-left: 1vmin;
}

.event-date {
  grid-area: date;
  font-size: 3vw;
  margin-left: 1vmin;
}

.event-admission-price {
  grid-area: admission;
  color: tomato;
  font-size: 3vw;
  justify-self: center;
}

.event-buy-ticket {
  grid-area: buy-ticket;
  font-size: 2vw;
  padding-right: 0.2vmin;
  width: 100%;
}
.event-buy-ticket-btn {
  height: 80%;
  width: inherit;
}

.event-see-info {
  grid-area: see-info;
  font-size: 2vw;
  width: 100%;
}
.event-see-info-btn {
  height: 80%;
  width: inherit;
}
