@media screen and (min-width: 800px) {
  body {
    width: 100vw;
    margin: auto;
  }
}

body {
  font-family: "Archivo", sans-serif;
  background-color: #e4e4e4;
  color: #575757;
}

/* THE EVENTSLIST IS A SINGLE-COLUMN GRID */
#eventslist {
  display: grid;
  grid-row-gap: 4vmin;
}

button,
#categories-nav a {
  border: 3px solid tomato;
  color: tomato;
  font-weight: 700;
  font-size: 1.2em;
  background-color: transparent;
  border-radius: 25px;
  transition: all 0.5s;
}

#categories-nav a {
  text-decoration: none;
  padding: 2vmin;
}

.categories-div {
  padding-top: 1vh;
  padding-bottom: 2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.categories-div p {
  justify-self: end;
}

button:hover,
#categories-nav a:hover {
  background-color: tomato;
  color: white;
}

/* EACH BLOCK IS A GRID */

.event-article {
  display: grid;
  background-color: white;
  grid-template-columns: 44vmin 1fr 1fr;
  grid-template-rows: 8vmin 5vmin 5vmin 5vmin;
  grid-row-gap: 1.5vmin;
  grid-column-gap: 2vmin;
  align-items: center;
  justify-items: start;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
  /* border-bottom: 0.5vmin solid tomato; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  grid-template-areas:
    "img name name"
    "img category category"
    "img venue date"
    "admission see-info buy-ticket";
}
.event-article:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-div {
  grid-area: img;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-name {
  grid-area: name;
  overflow: hidden;
  font-size: 3vw;
  margin-left: 1vmin;
}

h2 {
}

.event-category {
  grid-area: category;
  color: tomato;
  font-size: 3.5vw;
  margin-left: 1vmin;
  justify-self: start;
  padding-bottom: 10px;
}
h3 {
}

.event-venue {
  grid-area: venue;
  overflow: hidden;
  font-size: 3vw;
  margin-left: 1vmin;
}

.event-date {
  grid-area: date;
  font-size: 3vw;
  margin-left: 1vmin;
}

.event-admission-price {
  grid-area: admission;
  color: tomato;
  font-size: 3vw;
  justify-self: center;

  padding-right: 10px;
}

.event-buy-ticket {
  grid-area: buy-ticket;
  font-size: 2vw;
  padding-right: 0.2vmin;
  width: 95%;
}
.event-buy-ticket-btn {
  height: 80%;
  width: inherit;
}

.event-see-info {
  grid-area: see-info;
  font-size: 2vw;
  width: 95%;
}
.event-see-info-btn {
  height: 80%;
  width: inherit;
}
