@media screen and (min-width: 800px) {
  body {
    width: 100vw;
    margin: 0;
  }
}

body {
  font-family: "Archivo", sans-serif;
  background-color: #e4e4e4;
  color: #575757;
  width: 100vw;
  margin: 0;
}

/* THE EVENTSLIST IS A SINGLE-COLUMN GRID */
#eventslist {
  display: grid;
  grid-row-gap: 4vmin;
  width: 98vw;
  margin: auto;
}

.event-see-info-btn,
.event-buy-ticket-btn,
#categories-nav a,
.event-count-div p {
  border: 3px solid tomato;
  color: tomato;
  font-weight: 700;
  font-size: 2.8vmin;
  background-color: transparent;
  border-radius: 25px;
  transition: all 0.5s;
}

.event-see-info-btn,
.event-buy-ticket-btn,
#categories-nav a,
.event-count-div p {
  text-decoration: none;
  padding: 1.5vmin;
  background-color: white;
}

.event-count-div {
  text-align: center;
  width: 100%;
}

.event-count-div p {
  background-color: tomato;
  border-radius: 25px;
}

.event-count-div p {
  color: white;
}

.categories-div {
  display: grid;
  width: 98vw;
  margin: auto;
  grid-column-gap: 0.3vmin;
  grid-template-columns: 0.08fr 1fr;
}

#categories-nav {
  display: grid;
  grid-column-gap: 0.3vmin;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

.cat-nav-div {
}

.event-see-info-btn:hover,
.event-buy-ticket-btn:hover,
#categories-nav a:hover {
  background-color: tomato;
  color: white;
}

/* EACH BLOCK IS A GRID */

.event-article {
  display: grid;
  background-color: white;
  grid-template-columns: 44vmin 1fr 1fr;
  grid-template-rows: 8vmin 5vmin 5vmin 8vmin;
  grid-row-gap: 1.5vmin;
  grid-column-gap: 2vmin;
  align-items: center;
  justify-items: start;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
  /* border-bottom: 0.5vmin solid tomato; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  grid-template-areas:
    "img name name"
    "img category category"
    "img venue date"
    "admission see-info buy-ticket";
}

.event-article:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-div {
  grid-area: img;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-name {
  grid-area: name;
  overflow: hidden;
  font-size: 3vw;
  margin-left: 1vmin;
}

h2 {
}

.event-category {
  grid-area: category;
  color: tomato;
  font-size: 3.5vw;
  margin-left: 1vmin;
  justify-self: start;
  padding-bottom: 10px;
}
h3 {
}

.event-venue {
  grid-area: venue;
  overflow: hidden;
  font-size: 3vw;
  margin-left: 1vmin;
}

.event-date {
  grid-area: date;
  font-size: 3vw;
  margin-left: 1vmin;
}

.event-admission-price {
  grid-area: admission;
  color: tomato;
  font-size: 2.5vw;
  justify-self: center;
  font-weight: 2000;
  text-align: center;
  padding-right: 10px;
}

.event-buy-ticket {
  grid-area: buy-ticket;

  padding-right: 0.2vmin;
  width: 95%;
}
.event-buy-ticket-btn {
  height: 80%;
  width: inherit;
}

.event-see-info {
  grid-area: see-info;

  width: 95%;
}
.event-see-info-btn {
  height: 80%;
  width: inherit;
}

/* PAGES NAVBAR AND LOGO */

.pages-nav-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 5vmin;
  align-items: center;
  background-color: tomato;
  grid-template-rows: 15vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

#pages-nav {
  max-height: 0;
  overflow: hidden;
}

#pages-nav a {
  display: block;
  text-decoration: none;
  color: white;
}

input:checked ~ #pages-nav {
  max-height: 50vmin;
}

input {
  display: none;
}

.toggle {
  justify-self: right;
}

.toggle i {
  color: white;
  padding-right: 2vmin;
  font-size: 8vmin;
}

.logo-div {
  display: flex;
}

.logo-div img {
  width: 50vmin;
  height: 50%;
  object-fit: cover;
}

#pages-nav .current {
  text-decoration: underline;
}

/* FOR CURRENT BUTTON */

.current-button {
  background-color: tomato;
  color: white;
}

/* SLIDESHOW */
.slideshow-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vmin;
  width: 98vw;
  margin: auto;
  margin-top: 1vmin;
}

.slideshow-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.slideshow-container img.active {
  display: inline-block;
}

.slideshow-inner {
  position: relative;
}

.slideshow-inner > img {
  position: absolute;
}

.slideshow-inner {
  position: relative;
}

.slideshow-inner > img {
  position: absolute;
}

/* FIND YOUOR EVENTS BELOW TEXT */

.events-below-div {
  display: block;
  font-size: 3.5vmin;
  width: 100%;
  color: #333333;
  font-weight: 1500;

  width: 98vw;
  margin: auto;
  margin-top: -3vmin;
  margin-bottom: -5vmin;
}

.events-below-div span {
  font-weight: 100;
}

.event-description {
  text-align: center;
  align-self: center;
  justify-self: center;
}
